.reader-container {
  height: 100vh;
  position: relative;
  width: 100%;
  transition: width 225ms ease-in;
  z-index: 1;
}

.screenshot-detected::after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(0, 0, 0);
  opacity: 1;
  z-index: 9999;
}
