.header-content {
  position: absolute;
  top: 10;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 30px;
  padding-top: 6px;
  padding-right: 20px;
  margin-right: 0;
  transition: margin-right 225ms ease-in-out;
}

.header-content .active {
  color: #0382ff;
  /* color: #fff;
  background-color: #101010; */
}

.drawer-open .header-content {
  margin-right: 380px;
}

.linktoHl {
  color: #0382ff;
  cursor: pointer;
  margin-top: -10px;
  font-size: 14px;
}

.linktoHl:hover {
  text-decoration: underline;
}

.highlight-color {
  border: 1px solid rgb(247, 245, 245);
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.text-container {
  padding: 5px 15px;
  border-radius: 20px;
  max-width: 80%;
  /* width: 80%; */
  display: flex;
  align-items: center;
  white-space: normal;
}
.typing-text::after {
  content: "";
  display: inline-block;
  width: 1em;
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.chat-icon {
  position: fixed;
  bottom: 30px !important;
  right: 40px !important;
  z-index: 999999;
  cursor: pointer;
}

.chat-bot {
  position: fixed;
  z-index: 999999;
  right: 60px !important;
  bottom: 86px !important;
}

.chat-container {
  width: 400px;
  height: 500px;
  overflow: auto;
  padding: 0 !important;
  /* background-color: #f6f6f6 !important; */
}

.chatbot-header {
  background-image: linear-gradient(to right, #4b4363, #5e596b);
  padding: 0.7rem 1rem;
  color: #fff;
}
.chats {
  padding: 0.3rem 12px;
}
.bot-chat-bubble,
.user-chat-bubble {
  transition: all 1s ease-in;
  min-width: 50px !important;
  font-family: "loto", sans-serif;
  font-size: 13px;
  position: relative;
  padding: 7px !important;
}

.bot-chat-bubble {
  border-radius: 7px;
  border-top-left-radius: 0 !important;
  background-color: #f5f8fa;
  color: #000000ff;
}
.user-chat-bubble {
  border-radius: 7px;
  border-top-right-radius: 0 !important;
  background-color: #122243 !important;
  color: #ffffffff !important;
  float: right;
}

.notes-field {
  padding: 0 0.5rem;
  background-color: #f9f6f6;
}

.css-1qtl67e-MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 376px) {
  .chat-icon {
    position: fixed;
    bottom: 2px !important;
    right: 10px !important;
  }
  .chat-bot {
    position: fixed;
    right: 10px !important;
    bottom: 54px !important;
  }
  .chat-container {
    width: 260px !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 330px) {
  .header-content {
    column-gap: 5px !important;
  }
}

@media screen and (max-width: 430px) {
  .header-content {
    column-gap: 15px;
  }
  .chat-icon {
    position: fixed;
    bottom: 10px !important;
    right: 10px !important;
  }
  .chat-bot {
    position: fixed;
    right: 12px !important;
    bottom: 62px !important;
  }
  .chat-container {
    width: 350px;
    height: 400px;
  }
}

@media screen and (max-width: 770px) {
  .chat-icon {
    position: fixed;
    bottom: 10px !important;
    right: 10px !important;
  }
  .chat-bot {
    position: fixed;
    right: 12px !important;
    bottom: 62px !important;
  }
}
